.intro-external{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 984px;
}
@media screen and (max-width: 1024px){
    .intro-external{
        width: calc(100% - 96px);
    } 
}
@media screen and (max-width: 1024px){
    .intro-external{
        width: calc(100% - 96px);
    } 
}
@media screen and (max-width: 768px){
    .intro-external{
        width: calc(100% - 48px);
    } 
}
@media screen and (max-width: 375px){
    .intro-external{
        width: calc(100% - 32px);
    } 
}
