.video__subtitle{    
    width: 100%;
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 7%;
    margin-right: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    z-index: 1;
    color: #FFFFFF;
}