.lead__image-map{
    display: block;
    width: 95%;
    padding-top: 13%;
    padding-left: 2.48%;
    padding-right: 2.52%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
}