@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);
.comment{
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    width: calc((100% - 38px)/3);
}
@media screen and (max-width: 768px){
    .comment{
        width: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 375px){
    .comment{
        margin-top: 47px;
        width: 100%;
        align-items: center;
    }
}