@import url(./__description-paragraph/intro__description-paragraph.css);
.intro__description{
    width: 383px;
    font-family: Inter;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin: 27px 0px 0px;
    color: #FFFFFF;
}
@media screen and (max-width: 425px){
    .intro__description{
        width: calc(100% - 32px);
    }
}
@media screen and (max-width: 375px){
    .intro__description{
        width: calc(100% - 32px);
        font-size: 11px;
        line-height: 19px;
    }
}
